@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-size: 1.3rem;
	background-color: #fff;
	color: #3c4955;
	min-height: 100%;
	background-color: #d5e7e7;
}


.sign{
	
	width: 400px;
	// height: 500px;
	background: linear-gradient(45deg, rgba(46, 29, 196, .9), rgba(197, 123, 219, .5) 70%), url(../img/vector.png);
	background-size: contain;
	background-size: auto 100%;
	background-position: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	// box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
	&__body,
	&__head{
		padding: 35px 50px;
	}
	&__link{
		text-decoration: none;
		color: #e7e7e7;
		font-size: 1.9rem;
		font-weight: bold;
		border-bottom: 2px solid transparent;
		&:hover,
		&:active{
			color: #fbeaae;
			border-bottom: 2px solid #e66a64;
			transition: all .2s ease-in;
		}
	}

	&--active{
		color: #fbeaae;
		border-bottom: 2px solid #e66a64;
	}
	&--mleft{
		margin-left: 20px;
	}
	&__group{
		margin-bottom: 25px;
	}
	&__input{
		border: 2px solid #dcd2e2;
		background-color: transparent;
		padding: 10px;
		width: 100%;
		position: relative;
		outline: none;
		color: #fbeaae;
	}
	&__label{
		display: block;
		margin: 10px 0;
		color: #fbeaae;
		font-size: 1.6rem;
		font-weight: bold;
	}
	&__checkbox{
		height: 15px;
		width: 15px;
		-webkit-appearance:none;
		outline: none;
		background-color: #fff;

	}
	&__check{
		color: #fbeaae;
		font-weight: bold;
		padding: 10px;
	}

	&__checkbox,
	&__check{
		vertical-align: middle;	
	}
	&__checkbox:checked{
		background-color: #23ae92;
		background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjRkZGRkZGIi8+Cjwvc3ZnPgo=);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .2s ease-in;
	}

	&__submit{
		color: #fff;
		text-align: center;
		width: 100%;
		padding: 5px;
		font-size: 1.8rem;
		font-weight: bold;
		border: 1px solid #26b168;
		background-color: #26b168;
		&:hover,
		&:active,
		&:focus{
			transform: scale(1.05);
			transition: all .3s ease-in;
		}
	}
	&__helper{
		display: flex;
		justify-content: space-between;
		margin: 15px 0;
		a{
		text-decoration: none;
		color:  #e7e7e7;
		font-size: 1rem;
		border-bottom: 0.5px solid #d1aae9;
		}
	}
	&__shadow{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 260%);
		z-index: 1;
	}
}
